@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
}

header h1 {
    color: #ec183f;
    font-size: 44px;
    width: 800px;
    margin: 0 auto;
}

main {
    width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(218, 211, 211);
    padding-bottom: 50px;
}

p {
    text-align: justify;
}
 
img {
    width: 100%;
}

ul.redes-sociais {
    text-align: center;
    list-style: none;
}

ul.redes-sociais li { 
    display: inline-block;
}

ul.redes-sociais li a img {
    width: 40px;
    margin: 10px;
}