<!DOCTYPE html>

<html>

  <head>
    <title><%= group %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>This is <%= group %>></h1>

    <%= members %>
  </body>

</html>
