<!DOCTYPE html>

<html>

  <head>
    <title>Membros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Membros</h1>

    <%
        let membros = [
        {nome: 'heejin', unit: '1/3', animal: 'rabbit'},
        {nome: 'choerry', unit: 'odd-eye-circle', animal: 'bat'},
        {nome: 'gowon', unit: 'yyxy', animal: 'butterfly'}
        ];
    %>

    <ul>
        <% for (let membro of membros){ %>
        <li>
            hello. this is <%= membro.nome %> from <%= membro.unit %>. my representative animal is a <%= membro.animal %>. :)
        </li>
        <% } %>
    </ul>

    <img src="/images/gowon.png" alt="gowon from loona">
  </body>

</html>
