body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px rgba(209, 208, 208, 0.555);
    box-shadow: 13px 13px rgba(209, 208, 208, 0.555);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #cc2020;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}